<div class="jumbotron">
  <h1>Importaci칩n en proceso...</h1>
  <p>
    Hay una importaci칩n proces치ndose. Por favor vuelva a intentar acceder m치s tarde
  </p>
  <p>
    <%= link_to 'Volver a intentar', root_path,
      class: 'btn btn-primary btn-lg'
    %>
  </p>
</div>
