<% if @payment_group.has_associated_payment_group? %>
  <div class="row">
    <div class="col-md-12">
      <% if @payment_group.adjustment %>
        <strong class="label label-primary">
          PAGO DE AJUSTE
        </strong>
        <br/>
      <% elsif !@payment_group.payment_group.closed? %>
        <strong class="text-danger">
          Recuerde cerrar pago de ajuste luego de cerrar este pago
        </strong>
        <br/>
      <% end %>

      <strong class="text-primary">Presenta pago asociado </strong>
      <%= link_to [@payment_group.payment_group],
        target: 'blank' do %>
        <i class="fa fa-external-link-square text-primary"></i>
      <% end %>
    </div>
  </div>
<% end %>
