<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            Pagos sin gastos bancarios cargados
          </h3>
        </div>

        <div class="box-body">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Operador</th>
                <th>Moneda</th>
                <th>Total</th>
                <th class="text-center">Cargar gastos</th>
              </tr>
            </thead>

            <tbody>
              <%= render partial: 'payment_group_without_bank_charges.html.erb',
                collection: @payment_groups,
                as: :payment_group
              %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
