<section class="content">
  <div class="row">
    <div class="col-md-7">
      <%= render partial: 'payment_groups/internal_transfer' %>
    </div>

    <div class="col-md-5">
      <div class="col-md-12">
        <section id="panel_information">
          <%= render partial: 'information_payment_group'%>
        </section>
      </div>
    </div>
  </div>
</section>
