.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-7 {
  margin-top: 7px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-24 {
  margin-top: 25px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-top-140 {
 margin-top: 140px !important;
}



/* PADDINGS */
.padding-right-0 {
  padding-right: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}


/* WIDTHS */
.width-100 {
  width: 100%;
}
