<div style="z-index: 9999; position: fixed; right: 40%; top: 5px;">
  <span class="cool-warning-label margin-right-5">
    <span class="cool-label-text">
      <strong>Ambiente de desarrollo</strong>
    </span>
  </span>
</div>
