<div class="container-fluid margin-top-5">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger text-center" role="alert">
        <span class="fa fa-exclamation-circle"></span>
        <strong>
          No se registra importación en las últimas 12 horas.
          Probar realizando una importación manual.
          Caso contrario, comunicarse con los desarrolladores.
        </strong>
      </div>
    </div>
  </div>
</div>
