<section class="content">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel">
        <div class="panel-body">
          <h1>
            ยก<%= t :welcome %>, <%= @user.email %>!
          </h1>
          <hr/>
          <p class="lead">
          <%= t :no_role_assigned %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
